/* Inicio [Estilos de uso general] */

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-a {
  padding-left: 45px;
  padding-right: 45px;
}

.top-margin {
  margin-top: 30px;
}

.bottom-margin {
  margin-bottom: 30px;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

/* Fin [Estilos de uso general] */
