body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 12px;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #616161;
  border-radius: 12px;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #000000;
}

/* [INDEX PAGE]
   ========================================================================= */

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.app-navbar.app-navbar-fixed {
  background-color: #FFFFFF;
}

.app-navbar-space {
  width: 1px;
  height: 98px;
  display: block;
}

.app-navbar > .logo-container .img-logo {
  margin: 26px 45px 20px;
  width: 134px;
}

.app-navbar > .button-container .menu-button {
  margin: 18px 45px 14px;
  padding: 6px 16px;
  font-size: 36px;
  border: 1px solid #e8e8e8;
}

.app-navbar > .button-container .menu-button.hvr-sweep-to-top:before {
  background-color: #F1F1F1;
}

.app-navbar > .button-container .menu-button.hvr-sweep-to-top:hover:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/**
 * Este bloque de código es importante para establecer el efecto de
 * la animación cuya clase es .hvr-sweep-to-top esto debido a que 
 * la transformación fue eliminada para el evento :hover desde el 
 * archivo hover.css, por lo que aquí se establece 
 * nuevamente y con mayor prioridad para evitar intervenir con 
 * otros eventos o estilos css.
 */
.app-navbar > .button-container .menu-button.hvr-sweep-to-top:focus:before,
.app-navbar > .button-container .menu-button.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1) !important;
  -moz-transform: scaleY(1) !important;
  -ms-transform: scaleY(1) !important;
  -o-transform: scaleY(1) !important;
  transform: scaleY(1) !important;
}

.app-navbar > .button-container button.menu-button:hover {
  background-color: #FFFFFF;
}

.app-navbar > .button-container ul.menu-dropdown {
  top: 84.8%;
  right: 44px;
  width: 196px;
  max-width: 196px;
  padding: 0;
  background-color: rgba(250,250,250,0.8);
}

.app-navbar > .button-container ul.menu-dropdown > li > a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding: 25px 30px;
  text-align: right;
  font-size: 20px;
}

.app-navbar > .button-container ul.menu-dropdown > li > a:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: rgba(215,215,215,0.2);
  color: #E21574;
}

.app-navbar > .button-container ul.menu-dropdown > li > ul.submenu-dropdown {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  position: absolute;
  top: 0%;
  right: 99%;
  z-index: 999;
  width: 0;
  max-width: 280px;
  height: 366px;
  min-height: 366px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(226, 21, 116, 0.9);
  list-style: none;
  padding-left: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -ms-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -o-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.app-navbar > .button-container ul.menu-dropdown > li > ul.submenu-dropdown > li:first-child {
  margin-top: 12px;
}

.app-navbar > .button-container ul.menu-dropdown > li > ul.submenu-dropdown > li > a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  display: block;
  padding: 7.4px 15px;
  font-size: 20px;
  text-align: right;
  color: #F1F1F1;
}

.app-navbar > .button-container ul.menu-dropdown > li > ul.submenu-dropdown > li > a:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  background-color: rgba(205, 0, 91, 0.2);
  color: #FFFFFF;
}

.app-navbar > .button-container ul.menu-dropdown > li:hover > ul.submenu-dropdown {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  display: block;
  width: 280px;
  visibility: visible;
  opacity: 1;
}

.app-footer {
  border-top: 1px solid #e8e8e8;
}

.app-footer > .copyright {
  padding: 30px 45px 20px;
}

.app-footer > .copyright > p {
  font-size: 14px;
  color: #555;
}

/* [INDEX PAGE]
   ========================================================================= */
.navbar-home .app-navbar {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  border-bottom: 1px solid transparent;
}

.navbar-home .app-navbar > .logo-container .img-logo {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  margin-top: 60px;
  width: 236px;
}

.navbar-home .app-navbar > .button-container .menu-button {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  margin-top: 60px;
}

.navbar-home .app-navbar.app-navbar-fixed {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e8e8e8;
}

.navbar-home .app-navbar.app-navbar-fixed > .logo-container .img-logo {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  margin-top: 26px;
  width: 168px;
}

.navbar-home .app-navbar.app-navbar-fixed > .button-container .menu-button {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  margin-top: 26px;
}

.home-page .app-jumbotron .img {
  width: 100%;
  height: 768px;
  //background-image: url("../img/bg-home-jumbotron.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page .app-description {
  padding: 75px 30px;
  min-height: 400px;
}

.home-page .app-description.fadeInUp {
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.home-page .app-description .header h1 {
  font-weight: lighter;
  font-size: 42px;
  line-height: 72px;
  margin-bottom: 15px;
}

.home-page .app-description .header b {
  font-size: 72px;
}

.home-page .app-description .content {
  font-size: 18px;
  line-height: 24px;
  font-weight: lighter;
}

/* [PORTFOLIO PAGE]
   ========================================================================= */

.app-portfolio .header > .title {
  margin-top: 24px;
  margin-bottom: 8px;
  padding-left: 90px;
  font-size: 28px;
  font-weight: normal;
}

.app-portfolio ul.tablist {
  padding-left: 0;
  display: inline-block;
}

.app-portfolio ul.tablist > li {
  text-align: center;
  list-style: none;
  display: block;
  float: left;
}

.app-portfolio ul.tablist > li > a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  display: block;
  padding: 12px 17px;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}

.app-portfolio ul.tablist > li > a:hover {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  color: #E21574;
}

.app-portfolio ul.tablist > li.active > a {
  color: #E21574;
}

.app-portfolio .tab-content > .tab-pane {
  min-height: 520px;
}

.app-portfolio .tab-content > .tab-pane .client-container {
  margin-top: 32px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 42px;
}

.app-portfolio .tab-content > .tab-pane .client-container .client-image {
  width: 82%;
  height: 120px;
  cursor: pointer;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.app-portfolio .tab-content > .tab-pane .client-container .client-image:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.app-portfolio .tab-content > .tab-pane .client-container.fadeInUp {
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -ms-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
}

/* [VIEWER PAGE]
   ========================================================================= */

.app-viewer .app-jumbotron > .carousel > .carousel-inner > .item {
  background-color: #CCCCCC;
}

.app-viewer .app-jumbotron > .carousel > .carousel-inner > .item > img {
  width: 100%;
  max-height: 545px;
}

.app-viewer .app-jumbotron > .carousel > .carousel-inner > .item > .carousel-caption {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.app-viewer .app-jumbotron > .carousel > .carousel-inner > .item > .carousel-caption > h3 {
  font-size: 24px;
}

.app-viewer .app-jumbotron > .carousel > .carousel-inner > .item > .carousel-caption > p {
  font-size: 16px;
}

.app-viewer .app-description-container {
  padding: 45px;
}

.app-viewer .app-description-container .header {
  margin-bottom: 30px;
}

.app-viewer .app-description-container .header > h1 {
  font-size: 48px;
  font-weight: bold;
}

.app-viewer .app-description-container .header > h2 {
  font-size: 42px;
  font-weight: lighter;
}

.app-viewer .app-description-container .content {
  margin-bottom: 30px;
}

.app-viewer .app-description-container .content p {
  font-size: 22px;
  font-weight: lighter;
}

.app-viewer .app-tools {
  padding: 65px 45px 45px 45px;
}

.app-viewer .app-tools .app-button {
  font-size: 24px;
  color: #000000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.app-viewer .app-tools .app-button:hover,
.app-viewer .app-tools .app-button:focus,
.app-viewer .app-tools .app-button:active {
  border-color: #a0a0a0;
}

.app-viewer .app-tools .app-button.disabled {
  cursor: not-allowed !important;
  color: #CCCCCC;
}

.app-viewer .app-tools .app-prev-item {
  padding-left: 14px;
}

.app-viewer .app-tools .app-next-item {
  margin-left: 8px;
  padding-right: 14px;
}

/* [SERVICES PAGE]
   ========================================================================= */

.app-services .header {
  margin-bottom: 45px;
}

.app-services .header > .title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 90px;
  font-size: 32px;
  font-weight: normal;
}

.app-services .services-container .services-list {
  margin-bottom: 30px;
  list-style: none;
}

/* [OUR CLIENTS PAGE]
   ========================================================================= */
.app-our-clients .header {
  margin-bottom: 5px;
}

.app-our-clients .header > .title {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 45px;
  font-size: 32px;
  font-weight: normal;
}

.app-our-clients .client-container {
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 32px;
}

.app-our-clients .client-container .client-image {
  width: 82%;
  height: 120px;
  cursor: pointer;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.app-our-clients .client-container .client-image:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* [CONTACT PAGE]
   ========================================================================= */

.app-contact .header {
  margin-bottom: 15px;
}

.app-contact .header > .title {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 90px;
  font-size: 32px;
  font-weight: 400;
}

.app-contact .contact-form-container {
  margin-bottom: 30px;
}

.app-contact .contact-form-container .header {
  text-align: center;
}

.app-contact .contact-form-container .header .title,
.app-contact .contact-form-container .header .subtitle {
  font-weight: 400;
  font-size: 28px;
}

.app-contact .contact-form-container .header .subtitle {
  font-size: 22px;
}

.app-contact .contact-form label {
  font-size: 14px;
  font-weight: 400;
}

.app-contact .contact-form input,
.app-contact .contact-form textarea {
  border: 1px solid #000000;
  box-shadow: none;
}

.app-contact .mail-icon,
.app-contact .insta-icon,
.app-contact .phone-icon,
.app-contact .fb-icon {
  font-size: 18px;
  margin-right: 8px;
}

.app-contact .mail-icon {
  color: #62DA09;
}

.app-contact .fb-icon {
  color: #337ab7;
}

.app-contact .insta-icon {
  color: #DD55DD;
}

.app-contact .phone-icon {
  color: #55ABDD;
}

.app-contact .phones-list {
  list-style: none;
  padding-left: 0;
}

.app-contact .contact-form .contact-data {
  margin-left: 15px;
}

.app-contact .contact-form .link {
  text-decoration: none;
}

.app-contact .contact-form label.error {
  margin-top: 6px;
  color: red;
}

/* RESPONSIVE
   ========================================================================= */

@import "tablets", "desktop", "bigdesktop", "general";

/* PATCHES
   ========================================================================= */

.btn-primary {
  background-color: rgb(226, 21, 116);
  border-color: rgb(226, 21, 116);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus { 
  background-color: rgb(255, 51, 146);
  border-color: rgb(255, 51, 146);
}

a {
  color: rgb(226, 21, 116);
}

a:hover,
a:focus,
a:active {
  color: rgb(255, 51, 146);
}

.btn,
.modal-content {
  border-radius: 0;
}

.model-dialog {
  width: 50%;
}

.modal-content,
.modal-header,
.modal-footer {
  border: none;
}

.modal-header button.close {
  color: #000000;
  font-size: 26px;
  opacity: 1;
}

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #616161;
}

.modal-body {
  font-size: 16px;
  line-height: 22px;
  max-height: 280px;
  overflow: auto;
}

.modal-footer .btn-more-info {
  font-size: 18px;
  background-color: inherit;
  color: #337AB7;
  border: 1px solid #2E6DA4;
}

.modal-footer .btn-more-info:hover {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: #337AB7;
  color: #FFFFFF;
}